/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}


/* Añadiendo ritmo vertical */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd, p,figure,
pre,table,fieldset,hr, img {
  margin-bottom: 1rem;
}


/* Añadiendo imagen de fondo, color de fuente y fuente  */
body {
  background-image: url(activos/background%20pattern.png);
  font-family: 'Libre Baskerville', serif;
  color: #444349;
  line-height: 1.5;
}


/* Añadiendo tipografía */
.title {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.name {
  font-family: "Great Vibes", cursive;
  font-size: 3.15rem;
  color: #d2ba87;
}

.text {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  color: white;
  background-color: hsla(100,0%,0%,.6);
  padding: 0.675rem;
}

.program, .questionsandanswers {
  color: #d2ba87;
}

.ceremony, .photos, .party, li, .tagline2, .question, .answer {
  font-family: 'Mulish', sans-serif;
  font-size: 1.125rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.tagline2 {
  font-style: italic;
}

.gift p, .contacto {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
}


@media screen and (min-width: 768px) {
  .tagline1 {
    text-transform: uppercase;
  }
  
  .name {
    font-size: 7rem;
    margin-bottom: 0;
  }
  
  .text {
    width: 50%;
    margin: 0 auto;
  }
  
  .cover {
    background: url(activos/cover%20photo.jpg) no-repeat center;
    background-size: cover;
  }
}

/* Encabezado de pantalla completa */
.cover {
  display: table;
  background: url(activos/cover%20photo.jpg) no-repeat 70% center/cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tagline1::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}


/* Estilizando sección de ubicaciones */
.location {
  width: 95%;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.location img, .gifts img {
  width: 7.5rem;
}

.ceremonia::after, .fotos::after, .fiesta::after {
  display: block;
  content: "";
  background-color: #444349;
  height: 0.1875rem;
  width: 25vw;
  margin: 1.5rem auto;
}

@media screen and (min-width: 768px) {
  .ceremonia::after, .fotos::after, .fiesta::after {
    display: none;
  }
  
  .left {
    float: left;
    width: 33.33%;
  }
  
  .location::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .location h3, .location img {
    margin-bottom: 1.5rem;
  }
  
  .location p {
    margin: 0;
  }
}

/* Estilizando sección de programa */
.program {
  background-color: hsla(100,0%,0%,.6);
  width: 100%;
  padding: 0.5rem 1rem;
}

.program h2 {
  margin-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .prog {
    width: 30vw;
    margin: 0 auto;
  }
}

/* Estilizando sección de regalos */
.gifts {
  width: 95%;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.paragraph {
  margin-bottom: 0; 
}


/* Estilizando la sección de preguntas */
.questionsandanswers {
  background-color: hsla(100,0%,0%,.6);
  width: 100%;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.questionsandanswers h3 {
  font-weight: 400;
}

.questionsandanswers p {
  text-align: left;
}

.question {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.answer {
  margin-bottom: 1.5rem;
}

.travelandaccomodations::after, .foodandfestivities::after,
.othersmallstuff::after {
  display: block;
  content: "";
  background-color: #d2ba87;
  height: 0.1875rem;
  width: 50vw;
  margin: 1.5rem auto;
}


@media screen and (min-width: 768px) {
  .travelandaccomodations::after, .foodandfestivities::after,
  .othersmallstuff::after {
    display: none;
  }
  
  .questionsandanswers::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .travelandaccomodations, .foodandfestivities,
  .othersmallstuff {
    padding: 2.6rem;
  }
  
  .questionsandanswers h3 {
    margin-bottom: 1.5rem;
    text-align: left;
  }
}


/* Estilizando sección de contacto */
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}


/* Estilizando el pie de página */
footer {
  background-color: #606060;
  display: table;
  height: 10vh;
  width: 100%;
  text-align: center;
}

.wrapper1 {
  display: table-cell;
  vertical-align: middle;
}

footer p {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: white;
}


@media screen and (min-width: 768px) {
  footer {
    height: 7vh;
  }
}